{% extends "answerchecker/base.html" %}

{% block content %}
	<div class="panel-body">
        <form id="FormJawaban" method="POST" action="{% url 'get_skor' %}"> {% csrf_token %}
        	{% for s in soal %}
        		{% if not forloop.first %}
        			<div id="sf{{ forloop.counter }}" class="frm" style="display: none;">
        		{% else %}
        			<div id="sf{{ forloop.counter }}" class="frm">
    			{% endif %}
		                <fieldset>
        					<p>{{ forloop.counter }}. {{ s }}</p>
		                    
		                    <div class="clearfix" style="height: 10px;clear: both;"></div>
		                    
		                   	<div class="form-group">
							  	{# {{ form.as_p }} #}
							  	<textarea class="form-control" rows="5" id="jawaban{{ forloop.counter }}" name="jawaban{{ forloop.counter }}"></textarea> 

							</div>

		                    <div class="clearfix" style="height: 10px;clear: both;"></div>

		                    <div class="form-group">
		                    	{% if not forloop.first %}
		                        	<button class="btn btn-warning back{{ forloop.counter }}" type="button"><span class="fa fa-arrow-left"></span> Kembali</button> 
		                    	{% endif %}

		                    	{% if not forloop.last %}	
	                        		<button class="btn btn-primary open{{ forloop.counter }}" type="button">Lanjutkan </button>				
                        		{% else %} 
                        			<input class="btn btn-primary" type="submit" value="Submit">
                        		{% endif %}
		                    </div>

		                </fieldset>
		            </div>
        	{% endfor %}
        </form>
    </div>
{% endblock content %}