{% extends "answerchecker/base.html" %}

{% block content %}
	{{ title_page }}
	<div class="panel-body">
        <form name="basicform" id="basicform" method="post" action="yourpage.html">
            <!-- langkah pertama: input nisn -->
            <div id="sf1" class="frm">
                <fieldset>
                    <legend>Langkah 1 dari 4: Input Data Siswa</legend>

                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="nisn">Masukkan NISN: </label>
                        <div class="col-lg-6">
                            <input type="text" placeholder="NISN, contoh: 1234567890" id="nisn" name="nisn" class="form-control" autocomplete="off" value="123456789">
                        </div>
                    </div>
            
                    <div class="clearfix" style="height: 10px;clear: both;"></div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-primary open1" type="button">Next <span class="fa fa-arrow-right"></span></button> 
                        </div>
                    </div>

                </fieldset>
            </div>
            <!-- end langkah pertama -->

            <!-- langkah ke-2: input nilai rapor -->
            <div id="sf2" class="frm" style="display: none;">
                <fieldset>
                    <legend>Langkah 2 dari 4: Input Nilai Rapor Siswa</legend>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              
                            </tr>
                        </thead>
                        <tbody>
                       
                        </tbody>
                    </table>

                    <div class="clearfix" style="height: 10px;clear: both;"></div>

                    <div class="form-group">
                        <button class="btn btn-warning back2" type="button"><span class="fa fa-arrow-left"></span> Back</button> 
                        <button class="btn btn-primary open2" type="button">Submit </button> 
                    </div>

                </fieldset>
            </div>
        </form>
    </div>
{% endblock content %}